<h1>Hello Meet Shah..!</h1>
<!-- <p>-----------------------------------------</p>
<app-hello-world></app-hello-world>
<p>-----------------------------------------</p>
<date></date>
<p>-----------------------------------------</p> -->
<app-address-card [user]="user"></app-address-card>
<!-- <p>-----------------------------------------</p>
<input type="text" [(ngModel)]="inputText">
{{inputText}}
<p>------------------------------------------------------------------</p>
<app-view-component></app-view-component> -->
<router-outlet></router-outlet>
